services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ticketsync_app
    restart: unless-stopped
    working_dir: /var/www/html
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    environment:
      APP_ENV: prod
